name: Publish package to npmjs

on:
  push:
    branches:
      - main
      - next
      - beta
    paths-ignore:
      - '.github/**'

permissions:
  id-token: write # Required for OIDC
  contents: read

concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  build:
    name: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: test
        run: yarn test
      - name: release
        run: yarn release
